# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# tutorials
/nft/tutorials/media
/farms
/node_modules
/admin
package.json
package-lock.json
_migrateAssets.js
_migrateAssets2.js